.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(63, 20, 20, 0.568);
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.container a {
  text-decoration-line: none;
  color: rgb(219, 255, 221);
}

@media (max-width: 669px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(63, 20, 20, 0.568);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
  }
}

@media (min-width: 701px) {
  .container {
    justify-content: space-between;
  }
}
