/* .imageGalleryItem {

} */

.imageGalleryItemImage {
  width: 100%;
  margin: 0 auto;
  /* height: 250px; */
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
}

.imageGalleryItemImage:hover {
  transform: scale(1.05);
  cursor: zoom-in;
  transition: 0.3s linear;
}
