.loader {
  position: fixed;
  top: 0;
  width: 1170px;
  height: 100vh;
  z-index: 10;
  background-color: rgba(197, 186, 186, 0.741);
  display: flex;
  justify-content: center;
  align-items: center;
}
