.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: rgba(63, 20, 20, 0.568); */
  border-bottom: 3px solid rgb(68, 67, 67);
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.container a {
  text-decoration-line: none;
  color: rgb(219, 255, 221);
}

@media (max-width: 669px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* background-color: rgba(63, 20, 20, 0.568); */
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
  }
}

@media (min-width: 670px) and (max-width: 800px) {
  .container {
    font-size: 15px;
  }
}
